

<main class="main">
  <div class="content">
    <div class="left-side">
      <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>commute</mat-icon>
        </button>
        <span>Vehicle Information Management Application</span>
        <span class="example-spacer"></span>
        <button mat-raised-button color="primary" class="example-icon" (click)="openVehicleForm()">
          Add Vehicle
        </button>
      </mat-toolbar>
      <vehicle-details [refreshDetails]="refreshDetails" (editVehicleInformation)="editVehicleInformation($event)" ></vehicle-details>
    </div>
  </div>

</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



